

.custom-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-bottom: 20px;

    max-width: 300px;
    transition: transform 0.3s ease-in-out;
}

.custom-card:hover {
    transform: scale(1.05);
}
